<ion-view title="Help" class=" ">
    <ion-nav-buttons  side="right" side="primary">
        <a class="button" href="#/Status"><i class="icon ion-ios-person"></i> </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header" style="padding: 50px;">
        <div class="row">
            <div class="col">
        <p style="text-align: left;">This app was created to ease the task of creating and managing the quality, layout and content of your cv and resume. Like many an app, it may be, over time become flawed on a piece of function or entirely. Feel free to email us at support@cvapp.com for any assistance in case of any malfunction </p>
        <p style="text-align: left;"><small>Kindly leave us a favourable rating and comment on the app store, once you are satisfied with this app</small></p>
        <br /><h4 style="text-align: left;">Privacy Overview</h4>
        <p style="text-align: left;"><small>We believe your business is no one else’s. Your privacy is important to you and to us. So we’ll protect the information you share with us. To protect your privacy, we follow different principles in accordance with worldwide practices for customer privacy and data protection. We won’t sell or give away your name, mail address, phone number, email address or any other information stored in this application. We’ll use state-of-the-art security measures to protect your information from unauthorized users, including SSL and military grade data encrytions. </small></p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-block button-outline button-positive" ng-click="contactUs()">
                    Contact us
                </button>
            </div>
            <div class="col">
                <button class="button button-block button-positive" ng-click="rateapp()" disabled="disabled">
                    Rate
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>