<ion-view title=" " id="page13" class=" ">
    <ion-nav-buttons  side="right" side="primary">
        <a class="button" href="#/Status"><i class="icon ion-ios-person"></i> </a>
        <button class="button" ng-click="itemAdd(item)"><i class="icon ion-android-add"></i> </button>
        <button class="button" ng-click="data.showDelete = !data.showDelete; data.showReorder = false;"><i class="icon ion-ios-trash-outline"></i> </button>
        <button ng-if="skills.length > 0" class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder"><i class="icon ion-compose"></i> </button>
    </ion-nav-buttons>
    <ion-sub-head class="bar bar-subheader">
        <h3 class="title">Skills</h3>
    </ion-sub-head>
    <ion-content padding="true" class="has-header has-subheader">
        <div ng-if="skills.length === 0" class="emptyPageBlock">
            <img src="../img/skills.svg"  style="opacity: 0.6; max-height: 120px;">
            <h3 class="nomargin">Empty data section</h3>
            <p class="nomargin">Enter relevant information that'll <br />appear on your cv</p>
            <button class="button button-stable" ng-click="itemAdd(item)">
                Create
            </button>
        </div>
        <ion-list show-delete="data.showDelete" show-edit="data.showEdit" show-reorder="data.showReorder" ng-if="skills.length > 0">
            <ion-item ng-repeat="skill in skills" skill="skill"  class="item-remove-animate item-stable item-borderless" style="margin-bottom: 10px;">
                {{ skill.title }}
                <ion-delete-button class="ion-trash-a" ng-click="onItemDelete(skill)"></ion-delete-button>
                <ion-reorder-button class="ion-ios-compose-outline" ng-click="onItemUpdate(skill)"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>