<ion-view id="page16" title="SHARE" class="no-header">
    <ion-nav-buttons  side="right" side="primary">
        <a class="button button-outline button-stable" style="margin-right: 10px;" href="#/settings"><i class="icon ion-ios-gear-outline"></i></a>
        <button class="button button-outline button-stable" ng-click="logout()"><i class="icon ion-log-out"></i></button>
    </ion-nav-buttons>
    <ion-content padding="true">

        <div ng-if="abouts.length === 0" class="emptyPageBlock">
            <img src="../img/credibility.svg"  style="opacity: 0.3; max-height: 120px;">
            <h3 class="nomargin">Build Resume</h3>
            <p class="nomargin">Start building your resume now</p>
        </div>

            <div  ng-repeat="about in abouts | limitTo:1" about="about">
                <div class="row">
                    <div class="col">
                        <button ng-click="emailCV(about)" class="button button-block button-positive">Email Resume, {{about.firstName}}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button ng-click="shareNative(about)" class="button button-block button-positive">Native</button>
                    </div>
                </div>
            </div>




    </ion-content>
</ion-view>